images
*.png
*.exr
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
**/__pycache__
output/light_positions.csv
relight/utils/wandb_key.py
models
slurm
wandb
*.pkl
*.pt
*.safetensors
*.ckpt
*.json
*.yaml
*.yml
*.png
*.exr
*.jpg
*.jpeg
*.gif
*.bmp
*.csv
*.json
*.png
*.exr
*.jpg
*.jpeg
*.gif